<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>test</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <form action="indicatename.cgi" method="POST">
       文字を入力してください<br><br><br>
      <input type="text"  name="input" ><br>
      <input type="submit" name="送信" ><br>
    </form>

  
  </body>
</html>
